<h1>Blog create</h1>

<form action="/blogs" method="POST">
    <label for="">Title</label>
    <input name="title" type="text">
    <label for="">Intro</label>
    <input name="intro" type="text">
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
    <button type="submit">Create</button>
</form>